certifi==2021.5.30
cycler==0.10.0
cytoolz==0.11.0
locket==0.2.1
mkl-service==2.3.0
networkx==2.2
olefile==0.46
pandas==1.2.4
pytest==6.2.4
PyYAML==5.4.1
pyzmq==20.0.0
scikit-image==0.18.1
scikit-learn==0.22.2.post1
tifffile==2020.10.1
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
yellowbrick==1.2
