@import '../variables.scss';

.test-container {
  position: relative;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 152, 155, 1) 0.1%,
    rgba(0, 94, 120, 1) 94.2%
  );
  overflow: hidden;
}

.preview-img {
  position: absolute;
  width: 335px;
  height: 130px;
  background-image: radial-gradient(
    circle 976px at 51.2% 51%,
    rgba(11, 27, 103, 1) 0%,
    rgba(16, 66, 157, 1) 0%,
    rgba(11, 27, 103, 1) 17.3%,
    rgba(11, 27, 103, 1) 58.8%,
    rgba(11, 27, 103, 1) 71.4%,
    rgba(16, 66, 157, 1) 100.2%,
    rgba(187, 187, 187, 1) 100.2%
  );
  border-radius: 10px;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.preview-properties {
  background-image: url('../../assets/images/cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .preview-img > span {
//   position: inherit;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 20px;
//   height: 20px;
//   opacity: 100%;
// }

.main-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
  position: absolute;
  top: 170px;
  background: white;
  border-radius: 25px;
}

.card-container {
  margin-top: 80px;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  font-family: 'Merriweather', serif !important;
  font-family: 'Montserrat', sans-serif !important;
}

.card-container > [class^='card'] {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  background-image: linear-gradient(201deg, #a0dad2 11.2%, #008c7a 100.2%);
  color: white;
}

.card-container > [class^='card']:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container [class^='card'] > label {
  font-family: $parkinson-article;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
}

.card-2 > div input:nth-child(3) {
  margin-left: 30px;
}

.card-2 > div > label {
  font-size: 13px;
  font-weight: 600;
  margin-left: 5px;
}

.status-field,
.result-field {
  font-size: 13px;
  font-weight: 600;
}

.success {
  color: #4dff00;
  font-family: 'Courier New', Courier, monospace;
}

.error {
  color: #e63946;
  font-family: 'Courier New', Courier, monospace;
}

.float-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 40px;
  border-radius: 5px;
  opacity: 0;
}

.float-btn.active {
  animation-name: fading;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
