@import '../variables.scss';

.btn-menu {
  position: fixed;
  display: inline;
  cursor: pointer;
  z-index: 30;
  width: 100%;
  height: 60px;
}

.header-bg {
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 152, 155, 1) 0.1%,
    rgba(0, 94, 120, 1) 94.2%
  );
  opacity: 0;
  transition: opacity .5s;
}

.header-bg--active {
  opacity: 100%;
}

.btn-menu--deactivate {
  display: none;
}

.btn-menu > span {
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
  width: fit-content;
  color: white;
  font-weight: bolder;
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
}

#refreshBtn {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 20px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: fixed;
  width: 70%;
  min-width: 200px;
  height: 100%;
  transform: translateX(-640px);
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s,
    opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: $backdrop-background-color;
  font-family: $parkinson-heading;
  z-index: 100;
  left: 0;
}

.sidebar--active {
  transform: translateX(0);
}

.sidebar__cover-img {
  width: 100%;
  height: 25%;
  background-image: url(../../assets/images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar__btns {
  align-self: center;
  list-style: none;
  padding: 0 35px;
  width: 100%;
}

.sidebar__btn {
  height: 2rem;
  line-height: 2rem;
  border-radius: 4px;
  text-align: center;
  font-size: $common-font-size;
  color: $button-color;
  border: 1px solid $button-color-click;
  margin: 0.3125rem 0;
  padding: 0 0.875rem;
  cursor: pointer;
  letter-spacing: 0.4px;
}

// .sidebar__btn--clicked {
//   color: white;
//   border-color: white;
// }

// .sidebar__btn:hover,
// .sidebar__btn:active,
// .sidebar__btn:focus {
//   color: white;
//   border-color: white;
// }

.sidebar__btn > a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 40rem) {
  .sidebar {
    display: none !important;
  }
}
